matplotlib==3.9.2
numpy>=1.21.0,<2.0
opencv_contrib_python==4.10.0.84
opencv_python==4.7.0.72
paddleocr==2.8.1
Pillow==10.4.0
loguru==0.7.2
fastapi==0.114.0
uvicorn==0.30.6
paddlepaddle==2.6.1 
prompt-optimizer
streamlit==1.38.0
